.App {
  text-align: center;
  padding-bottom: 100px;
}

.header-link{
  font-family: 'Fira Sans', sans-serif ;
  text-decoration: none;
  color: white;
  font-size: 2em;
}

.header-link:hover{
  color: orange;
}

.banner {
  height: 345px;
  background-image: url(./images/alfons-morales-YLSwjSy7stw.jpg);
}

.shadow{
  width: 100%;
  height: 100%;
  background-color: black;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: orange;
  background-image: url(./icons/arrow-drop-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search-link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: 0;
}

.centerText {
  padding-top: 200px;
}


@media (max-width: 575px) {
  .bookShelf {
    padding-left: 150px;
  }
}

@media (max-width: 420px) {
  .bookShelf {
    padding-left: 100px;
  }
}

@media (max-width: 320px) {
  .bookShelf {
    padding-left: 80px;
  }
}

@media (max-width: 320px) {
  .bookShelf {
    padding-left: 10px;
  }
}

.vl{
  width: 1px;
  height: 10px;
  display: inline-block;
}



/* scroll bar design */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d3d0d0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #373a40
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}